# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
canarytail-*-*

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

.vscode/

vendor

# Binaries
canarytail
canarytail-windows-amd64.exe
canarytail-linux-amd64
canarytail-darwin-amd64
canarytail-darwin-arm64
